.prediction-wrap{
    text-align: center;
    background-color: #F7FBFC;
    padding-bottom: 100px;

    .prediction-title{
        color: #17A4F9;
        font-size: 40px;
        font-weight: bold;
        padding-top: 200px;
        margin-bottom: 100px;
    }
    
    .prediction-container{
        background-color: #EDF2F6;
        padding-bottom: 50px;
        width: calc(100% - 48px);
        margin: 0 auto 100px;

        .prediction-container-title{
            padding-top: 50px;
            margin-bottom: 75px;
            font-size: 25px;
            font-weight: bold;
            color: #17A4F9;
        }

        .prediction-content-wrap{
            width: 100%;
            height: 440px;

            & > img{
                display: inline-block;
                width: 440px;
            }

            .prediction-content-container{
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 440px;
                height: 100%;

                .prediction-content{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .prediction-content-title{
                        color: #17A4F9;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 50px;
                    }

                    .prediction-content-text{
                        color: #3F4C5F;
                        margin-bottom: 50px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}